doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Victor Soto

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Victor Soto
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/cv.png', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Certifications

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Victor 
                        span.text-primary Soto
                    .subheading.mb-5
                        | Mexico City · (+52) 55-6676-9310 ·
                        a(href='mailto:alexandervictor550@gmail.com') alexandervictor550@gmail.com
                    p.lead.mb-5
                        | I am an experienced backend developer with expertise in Java, Spring Boot, MySQL and Microsoft Server databases. I am also skilled in using Git and have a solid understanding of front-end development, including JavaScript, CSS, HTML, and some experience with React. I am passionate about creating high-quality, scalable, and maintainable software solutions, and am always looking for new challenges to help me grow as a developer.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/soto-alexander/' target='_blank')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/victoralexander132' target='_blank')
                            i.fab.fa-github

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer
                            .subheading.mb-3 Unosquare
                            p
                                | As a software developer at Unosquare, I collaborated with American clients to design, develop, and maintain software solutions using Java, databases, and other tools. My role involved analyzing business requirements, writing high-quality, scalable, and maintainable code, performing testing and debugging, and ensuring project timelines and quality standards were met. I also researched new technologies and industry trends, provided technical guidance and support to colleagues and clients, and contributed to the continuous improvement of development processes and best practices at Unosquare.
                        .flex-shrink-0
                            span.text-primary August 2022 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Junior Java Fullstack Developer
                            .subheading.mb-3 Generation Mexico
                            p
                                | I completed the Java Junior Fullstack Web Development program at Generation Mexico, which provided me with intensive, hands-on training in Java and fullstack web development. Through the program, I gained practical skills in areas such as developing and testing web applications using Java, Spring Boot, and other technologies, creating and managing relational databases with MySQL, and designing and implementing front-end user interfaces with HTML, CSS, and JavaScript. The program also helped me develop essential soft skills, such as teamwork, problem-solving, and communication. With the support of Generation Mexico, I was able to secure a job in the field and continue to build on my skills and experience as a web developer.
                        .flex-shrink-0
                            span.text-primary March 2022 - June 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Geophysical Engineer
                            .subheading.mb-3 Geoexplora
                            p
                                | As a data processing specialist at Geoexplora, I collaborated with geoscientists and other technical experts to ensure that data was accurately processed and analyzed, and helped develop and implement new data processing workflows and methodologies. In addition, I was responsible for creating and managing Bash scripts to automate various data processing and analysis tasks, which helped improve efficiency and accuracy. My role also involved troubleshooting technical issues and providing technical support to colleagues as needed. Through this experience, I developed strong technical skills in data processing, analysis, and management, as well as proficiency in Bash scripting and problem-solving.
                        .flex-shrink-0
                            span.text-primary March 2021 - March 2022

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 National Autonomous University of Mexico (UNAM)
                            .subheading.mb-3 Bachelor of Engineering in Geophysics
                        .flex-shrink-0
                            span.text-primary August 2014 - May 2019

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-java
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-npm
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-github
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-docker
                        li.list-inline-item
                            i.fab.fa-figma
                        li.list-inline-item
                            i.fab.fa-linux
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Java-based Backend Development
                        li
                            span.fa-li
                                i.fas.fa-check
                            | RESTful API Design & Development
                        li
                            span.fa-li
                                i.fas.fa-check
                            | SQL Database Design & Management
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Git Version Control & Collaboration
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Mobile-First, Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | In my free time, I enjoy a variety of activities outside of software development. I am an avid gamer, and enjoy both console and PC games. I also enjoy spending time outdoors, taking my dog for walks and playing fetch. Another hobby of mine is bowling, which I find to be a great way to relax and socialize.
                    p.mb-0
                        | Finally, I have a passion for stargazing, and often enjoy camping trips to remote locations where the skies are clear and the stars are bright.

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Google Data Analytics - Coursera Certification
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | ONE Oracle Next Education - Oracle Certification
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Remote Work Professional - Taravy Certification
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | IELTS for UKVI Academic - Englis Language Proficiency
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Stanford Online Machine Learning - Coursera Certification


        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')